<div class="comments">
  Filter by:
  <div class="tags">
  <a href="/post/{{post_id}}">All</a>
  <a href="/post/{{post_id}}/1">General Info</a>
  <a href="/post/{{post_id}}/2">Humour</a>
  <a href="/post/{{post_id}}/3">Media</a>
  </div>
  
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text">
      {{comment_text}}
      {{cvote_count}} {{format_plural "point" cvote_count}}

      <button type="button" class="cupvote-btn" id={{id}}>upvote comment</button>
    </div>
    <div class="tags small">
      <a title="" href="">{{tag.tag_text}}</a>
    
    </div>
  </section>
  {{/each}}
</div>

<script src="/javascript/comment-upvote.js"></script>